<a href="https://colab.research.google.com/github/Kausthub8/US-Airline-Tweets-Analytic-Dashboard-With-StreamLit/blob/master/EmotionAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
import pandas as pd
df = pd.read_csv('Tweets.csv')

In [66]:
new = df.drop(columns=['airline_sentiment_gold', 'retweet_count', 'airline_sentiment', 'tweet_coord','negativereason_gold'])

new

                 tweet_id  ...               user_timezone
0      570306133677760513  ...  Eastern Time (US & Canada)
1      570301130888122368  ...  Pacific Time (US & Canada)
2      570301083672813571  ...  Central Time (US & Canada)
3      570301031407624196  ...  Pacific Time (US & Canada)
4      570300817074462722  ...  Pacific Time (US & Canada)
...                   ...  ...                         ...
14635  569587686496825344  ...                         NaN
14636  569587371693355008  ...                         NaN
14637  569587242672398336  ...                         NaN
14638  569587188687634433  ...  Eastern Time (US & Canada)
14639  569587140490866689  ...                         NaN

[14640 rows x 10 columns]

In [67]:
from textblob import TextBlob
from wordcloud import WordCloud
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt

In [72]:
new.head()

             tweet_id  ...               user_timezone
0  570306133677760513  ...  Eastern Time (US & Canada)
1  570301130888122368  ...  Pacific Time (US & Canada)
2  570301083672813571  ...  Central Time (US & Canada)
3  570301031407624196  ...  Pacific Time (US & Canada)
4  570300817074462722  ...  Pacific Time (US & Canada)

[5 rows x 10 columns]

In [73]:
new.describe()

           tweet_id  airline_sentiment_confidence  negativereason_confidence
count  1.464000e+04                  14640.000000               10522.000000
mean   5.692184e+17                      0.900169                   0.638298
std    7.791112e+14                      0.162830                   0.330440
min    5.675883e+17                      0.335000                   0.000000
25%    5.685592e+17                      0.692300                   0.360600
50%    5.694779e+17                      1.000000                   0.670600
75%    5.698905e+17                      1.000000                   1.000000
max    5.703106e+17                      1.000000                   1.000000

In [74]:
def cleanTxt(text):
 text = re.sub('@[A-Za-z0â€“9]+', '', text) 
 text = re.sub('#', '', text) 
 text = re.sub('RT[\s]+', '', text) 
 text = re.sub('https?:\/\/\S+', '', text) 
 
 return text



new['text'] = new['text'].apply(cleanTxt)
new

                 tweet_id  ...               user_timezone
0      570306133677760513  ...  Eastern Time (US & Canada)
1      570301130888122368  ...  Pacific Time (US & Canada)
2      570301083672813571  ...  Central Time (US & Canada)
3      570301031407624196  ...  Pacific Time (US & Canada)
4      570300817074462722  ...  Pacific Time (US & Canada)
...                   ...  ...                         ...
14635  569587686496825344  ...                         NaN
14636  569587371693355008  ...                         NaN
14637  569587242672398336  ...                         NaN
14638  569587188687634433  ...  Eastern Time (US & Canada)
14639  569587140490866689  ...                         NaN

[14640 rows x 10 columns]

In [75]:
def getSubjectivity(text):
   return TextBlob(text).sentiment.subjectivity


def getPolarity(text):
   return  TextBlob(text).sentiment.polarity



new['Subjectivity'] = new['text'].apply(getSubjectivity)
new['Polarity'] = new['text'].apply(getPolarity)
new

                 tweet_id  airline_sentiment_confidence  ... Subjectivity  Polarity
0      570306133677760513                        1.0000  ...     0.000000  0.000000
1      570301130888122368                        0.3486  ...     0.000000  0.000000
2      570301083672813571                        0.6837  ...     0.687500 -0.390625
3      570301031407624196                        1.0000  ...     0.350000  0.006250
4      570300817074462722                        1.0000  ...     0.383333 -0.350000
...                   ...                           ...  ...          ...       ...
14635  569587686496825344                        0.3487  ...     0.600000  0.000000
14636  569587371693355008                        1.0000  ...     0.600000 -0.300000
14637  569587242672398336                        1.0000  ...     0.000000  0.000000
14638  569587188687634433                        1.0000  ...     0.375000 -0.125000
14639  569587140490866689                        0.6771  ...     0.166667  0.166667

[14640 rows x 12 columns]

In [76]:
def getAnalysis(score):
  if score < 0:
    return 'Negative'
  elif score == 0:
    return 'Neutral'
  else:
    return 'Positive'
    
new['Analysis'] = new['Polarity'].apply(getAnalysis)

new

                 tweet_id  airline_sentiment_confidence  ...  Polarity  Analysis
0      570306133677760513                        1.0000  ...  0.000000   Neutral
1      570301130888122368                        0.3486  ...  0.000000   Neutral
2      570301083672813571                        0.6837  ... -0.390625  Negative
3      570301031407624196                        1.0000  ...  0.006250  Positive
4      570300817074462722                        1.0000  ... -0.350000  Negative
...                   ...                           ...  ...       ...       ...
14635  569587686496825344                        0.3487  ...  0.000000   Neutral
14636  569587371693355008                        1.0000  ... -0.300000  Negative
14637  569587242672398336                        1.0000  ...  0.000000   Neutral
14638  569587188687634433                        1.0000  ... -0.125000  Negative
14639  569587140490866689                        0.6771  ...  0.166667  Positive

[14640 rows x 13 columns]

In [84]:
from google.colab import files
new.to_csv('NewTweets.csv')
files.download('NewTweets.csv')